name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-backend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build Backend Docker image
      run: |
        cd backend
        docker build . --file Dockerfile --tag devops-todo-backend:$(date +%s)
        docker tag devops-todo-backend:$(date +%s) devops-todo-backend:latest

  build-frontend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build Frontend Docker image
      run: |
        cd frontend
        docker build . --file Dockerfile --tag devops-todo-frontend:$(date +%s)
        docker tag devops-todo-frontend:$(date +%s) devops-todo-frontend:latest
